In [1]:
############################################ Import Python Libraries Required ############################################ 
import numpy as np
import pandas as pd
import scipy

import matplotlib.pyplot as plt
from matplotlib.ticker import FormatStrFormatter
import matplotlib.colors

import datetime
import os 
from os import path
import seaborn as sns
from scipy import signal

import warnings
warnings.filterwarnings('ignore')

import pickle

import statistics
import math 
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_rows', 20)
# %config InlineBackend.figure_format = 'retina'
from PIL import Image

In [28]:
############################# Update Actual Cases #############################################3
import requests
os.system("rm state_wise_daily.csv")
url = """https://data.covid19india.org/csv/latest/state_wise_daily.csv"""
response = requests.get(url)


with open( "state_wise_daily.csv", 'wb') as f:
    f.write(response.content)
df  = pd.read_csv("state_wise_daily.csv",delimiter=",")

listOfColumns  = ["Date","Date_YMD","Status","KA"]
df = df[listOfColumns].copy(deep=True)
df["Date"] = pd.to_datetime(df["Date"])

## Sum all the values upto Jul-1st 2020 and add that as cumuliative total to Jul-1st 2020
## The data fitted to the model starts only from Jul-1st 2020

## Sum of COnfirmed 
df_temp = df[(df["Date"] <= '2020-07-01') & (df["Status"]=="Confirmed")]
ConfirmVal = df_temp["KA"].cumsum().iloc[-1]
index = df.loc[(df["Date"] =='2020-07-01') & (df["Status"] == "Confirmed")]["KA"].index
df.loc[index,"KA"] = ConfirmVal

## Sum of COnfirmed  
df_temp = df[(df["Date"] <= '2020-07-01') & (df["Status"]=="Recovered")]
RecoverVal = df_temp["KA"].cumsum().iloc[-1]
index = df.loc[(df["Date"] =='2020-07-01') & (df["Status"] == "Recovered")]["KA"].index
df.loc[index,"KA"] = RecoverVal

## Sum of Deceased 
df_temp = df[(df["Date"] <= '2020-07-01') & (df["Status"]=="Deceased")]
DeceaseVal = df_temp["KA"].cumsum().iloc[-1]
index = df.loc[(df["Date"] =='2020-07-01') & (df["Status"] == "Deceased")]["KA"].index
## -2 , HARDCODED for adjustment with the data used to fir the model ( The current data we have has 253 as Total Deceased as)
df.loc[index,"KA"] = DeceaseVal - 2   


#Copy data only from Jun-01-2020
df = df[(df["Date"] >= '2020-07-01')].copy(deep=True)

##reset index of Dataframe
df.reset_index(inplace=True,drop=True)


## get the KA columns from the dataframe
totaldata_all = df.KA
totalDays  = int(len(totaldata_all)/3)

N_dataDays = totalDays

##Declare Arrays 
actualAct = np.zeros(N_dataDays) 
actualRecov = np.zeros(N_dataDays)  
actualTot = np.zeros(N_dataDays) 
actualDes = np.zeros(N_dataDays) 

## Get the first day data
MarInitTot = totaldata_all[0]
MarInitRecov = totaldata_all[1]
MarInitDes = totaldata_all[2]

##initial Setup
actualTot[0] = MarInitTot 
actualRecov[0] = MarInitRecov 
actualDes[0] = MarInitDes 
actualAct[0] = actualTot[0] - actualRecov[0] - actualDes[0]


for idx in range(1, N_dataDays):
    actualTot[idx] = actualTot[idx-1] + totaldata_all[3*(idx)]
    actualRecov[idx] = actualRecov[idx-1] + totaldata_all[3*(idx)+1]
    actualDes[idx] = actualDes[idx-1] + totaldata_all[3*(idx)+2]
    actualAct[idx] = actualTot[idx] - actualRecov[idx] - actualDes[idx]


ActualDict = {}
ActualDict["Actual"] = actualAct
ActualDict["Deceased"] = actualDes
ActualDict["Recovered"] = actualRecov
ActualDict["Cumuliative"] = actualTot

file_name = "Data_Files/actual_Data.pkl"

open_file = open(file_name, "wb")
pickle.dump(ActualDict, open_file)
open_file.close()

In [29]:
# ActualDict['Actual'] = np.append(ActualDict['Actual'],[8512.0,8370.0,8306.0,8267.0,8188.0,8090.0,8002.0,7989.0,7955.0,8027.0,8017.0,8036.0,8027.0,7997.0,7912.0,7493.0,7409])
# ActualDict['Actual']

array([  8196.,   9408.,  10610.,  11968.,  13253.,  14386.,  15298.,
        16528.,  17782.,  19035.,  20883.,  22746.,  24573.,  25840.,
        27853.,  30655.,  33205.,  36631.,  39370.,  42216.,  44140.,
        47069.,  49931.,  52791.,  55388.,  58417.,  61819.,  64434.,
        67450.,  69702.,  72007.,  73221.,  74592.,  74471.,  73848.,
        73960.,  75070.,  77689.,  79768.,  80976.,  79911.,  79609.,
        80345.,  78339.,  79203.,  81278.,  81522.,  80653.,  79792.,
        81107.,  82159.,  83076.,  82687.,  83561.,  81224.,  82423.,
        83621.,  85000.,  86360.,  86459.,  88104.,  87248.,  91012.,
        94472.,  96111.,  99114.,  99630.,  99279.,  97014.,  96931.,
        99483., 101550.,  98339.,  97828.,  99216.,  98476.,  98549.,
       101639., 103644., 101142.,  98577.,  98056.,  95348.,  93166.,
        94665.,  95562.,  98487., 101795., 104737., 104061., 107750.,
       107629., 110425., 111999., 112796., 115587., 115490., 115164.,
       116166., 117156., 118864., 120942., 120283., 115789., 113472.,
       114000., 113551., 112440., 110660., 109277., 106227., 103958.,
       100453.,  92940.,  89496.,  86762.,  81063.,  75436.,  71343.,
        68174.,  64493.,  59512.,  55030.,  50605.,  44818.,  40408.,
        35706.,  33108.,  33332.,  33333.,  33691.,  32949.,  31076.,
        30756.,  29483.,  28039.,  27978.,  27159.,  26116.,  25336.,
        25159.,  25182.,  24765.,  24727.,  24881.,  24721.,  24625.,
        24903.,  25329.,  25392.,  24770.,  24516.,  23292.,  23722.,
        24163.,  24702.,  25059.,  24972.,  25394.,  24780.,  25028.,
        23069.,  19219.,  18606.,  18267.,  17422.,  16078.,  15658.,
        15489.,  15218.,  15393.,  14383.,  14510.,  14014.,  14006.,
        13749.,  13623.,  13521.,  13407.,  13093.,  12560.,  11874.,
        11623.,  11284.,  11071.,  10847.,  10906.,  10220.,   9650.,
         9190.,   9132.,   9442.,   9465.,   9662.,   9357.,   8922.,
         8900.,   8741.,   8803.,   8707.,   8593.,   8046.,   7878.,
         7710.,   7567.,   6998.,   7355.,   7523.,   6859.,   6646.,
         6311.,   6215.,   6074.,   5989.,   6042.,   5957.,   5937.,
         5928.,   5930.,   5887.,   5981.,   5972.,   5947.,   5798.,
         5888.,   5971.,   5938.,   5923.,   5849.,   5785.,   5873.,
         5711.,   5805.,   5895.,   5991.,   6049.,   6074.,   6075.,
         6090.,   5589.,   5514.,   5651.,   5817.,   5837.,   5958.,
         6070.,   6141.,   6387.,   6607.,   6875.,   6828.,   7046.,
         7469.,   7844.,   8127.,   8055.,   8377.,   8873.,   9441.,
        10233.,  11372.,  12080.,  12841.,  13506.,  14280.,  15608.,
        16899.,  18220.,  19566.,  21265.,  23050.,  23862.,  25554.,
        28261.,  30878.,  34232.,  36627.,  39105.,  42496.,  45120.,
        49267.,  53408.,  58097.,  61666.,  69238.,  75998.,  78630.,
        85493.,  96574., 107328., 119173., 133556., 142097., 159171.,
       176201., 196249., 214324., 234496., 262175., 281055., 301912.,
       328897., 349509., 382704., 405082., 421450., 444748., 464377.,
       487302., 517089., 536655., 548855., 564499., 571020., 587466.,
       592196., 593092., 598619., 605509., 600162., 603654., 575043.,
       558905., 534969., 514253., 483219., 473001., 440450., 424396.,
       409939., 402218., 372388., 350081., 342025., 313745., 298314.,
       293039., 286813., 280201., 268290., 254520., 238839., 225019.,
       215540., 210667., 203784., 191811., 180850., 172156., 162297.,
       151581., 146741., 137066., 130888., 126829., 123150., 118609.,
       116467., 110540., 107212., 105243., 101059.,  97609.,  86014.,
        76522.,  65329.,  53888.,  48133.,  44863.,  42013.,  40033.,
        39620.,  38746.,  37923.,  37158.,  36754.,  34875.,  34251.,
        33659.,  32400.,  31416.,  30099.,  29308.,  27544.,  26273.,
        25662.,  24712.,  24144.,  23922.,  23436.,  23074.,  22504.,
        22586.,  23271.,  23496.,  23814.,  24162.,  24039.,  24299.,
        24324.,  24433.,  24348.,  24286.,  23950.,  23336.,  22696.,
        22871.,  22748.,  22723.,  22718.,  22517.,  22068.,  21501.,
        21286.,  21153.,  21181.,  20865.,  20576.,  20275.,  19804.,
        19338.,  19320.,  18990.,  18917.,  18778.,  18412.,  18406.,
        18432.,  18398.,  18424.,  17766.,  17521.,  17406.,  17452.,
        17079.,  17013.,  17049.,  16693.,  16677.,  16263.,  15776.,
        15914.,  16196.,  15982.,  15777.,  15405.,  14380.,  13763.,
        13644.,  13613.,  13329.,  13330.,  13236.,  12827.,  12657.,
        12588.,  12803.,  12492.,  12379.,  12324.,  12015.,  11949.,
        11842.,  11642.,  11431.,  10418.,  10177.,   9929.,   9735.,
         9644.,   9601.,   9694.,   9531.,   9473.,   9187.,   9123.,
         9097.,   9011.,   8914.,   8937.,   8734.,   8606.,   8533.,
         8453.,   8580.,   8649.,   8731.,   8667.,   8512.,   8370.,
         8306.,   8267.,   8188.,   8090.,   8002.,   7989.,   7955.,
         8027.,   8017.,   8036.,   8027.,   7997.,   7912.,   7493.,
         7409.])

In [30]:
# file_name = "Data_Files/actual_Data.pkl"

# open_file = open(file_name, "wb")
# pickle.dump(ActualDict, open_file)
# open_file.close()

In [32]:
pip install tabula-py

Requirement already satisfied: tabula-py in /home/divijghose/anaconda3/lib/python3.8/site-packages (2.3.0)
Requirement already satisfied: pandas>=0.25.3 in /home/divijghose/anaconda3/lib/python3.8/site-packages (from tabula-py) (1.2.4)
Requirement already satisfied: distro in /home/divijghose/anaconda3/lib/python3.8/site-packages (from tabula-py) (1.6.0)
Requirement already satisfied: numpy in /home/divijghose/anaconda3/lib/python3.8/site-packages (from tabula-py) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/divijghose/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /home/divijghose/anaconda3/lib/python3.8/site-packages (from pandas>=0.25.3->tabula-py) (2021.1)
Requirement already satisfied: six>=1.5 in /home/divijghose/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [53]:
import tabula as tb
import re
import requests

url = """https://covid19.karnataka.gov.in/storage/pdf-files/EMB-NOV21//16-11-2021%20HMB%20English.pdf"""
response = requests.get(url)


with open( "a.pdf", 'wb') as f:
    f.write(response.content)
file = 'a.pdf'

import pandas as pd
data = tb.read_pdf(file,area=(85,20,700,580),columns=(1,40,130,190,250,320,370,420,470,520,580),pages='5',pandas_options={'header':None})

data

[    0    1               2        3        4    5        6      7        8   \
 0  NaN  NaN             NaN      NaN      NaN  NaN      NaN    NaN      NaN
 1  NaN  NaN             NaN      NaN      NaN  NaN      NaN    NaN  Today’s
 2  NaN  NaN             NaN      NaN      NaN  NaN      NaN  Total      NaN
 3  NaN  Sl.             NaN  Today’s    Total  NaN      NaN    NaN      NaN
 4  NaN  NaN             NaN      NaN      NaN  NaN      NaN    NaN      NaN
 ..  ..  ...             ...      ...      ...  ...      ...    ...      ...
 40 NaN   28  Uttara Kannada        8    56346    5    55487     88        0
 41 NaN   29      Vijayapura        0    36274    0    35774      5        0
 42 NaN   30        Yadagiri        0    27546    0    27338      2        0
 43 NaN   31         Others*        0       36    0       33      0        0
 44 NaN  NaN           Total      255  2992276  667  2946601   7493        7

        9       10
 0     NaN   Death
 1     NaN     NaN
 2   Total     NaN
 3     NaN     NaN
 4     NaN  due to
 ..    ...     ...
 40    771       0
 41    495       0
 42    206       0
 43      3       0
 44  38153      29

 [45 rows x 11 columns]]

In [54]:
for i in range(len(data[0][1])):
    if(data[0][1][i]=='1'):
        index = i
SlNo = [int(x) for x in data[0][1][index:index+33] if (str(x)!='nan')]
district = [x for x in data[0][2][index:index+33] if (str(x)!='nan')]
district = [x for x in district if (str(x)!='Kannada')]
district[10] = 'Dakshina Kannada'
dailyPositive = [int(x) for x in data[0][3][index:index+33] if (str(x)!='nan')]

totalPositive = [int(x) for x in data[0][4][index:index+33] if (str(x)!='nan')]
dailyDischarge = [int(x) for x in data[0][5][index:index+33] if (str(x)!='nan')]
totalDischarge = [int(x) for x in data[0][6][index:index+33] if (str(x)!='nan')]
totalActive = [int(x) for x in data[0][7][index:index+33] if (str(x)!='nan')]
dailyDeaths= [int(x) for x in data[0][8][index:index+33] if (str(x)!='nan')]
totalDeaths= [int(x) for x in data[0][9][index:index+33] if (str(x)!='nan')]

In [63]:

open_file = open('districts.pkl', "wb")
pickle.dump(district, open_file)

In [65]:
with open('~/Documents/COVIDW3/COVID19_Karnataka_Data/Data/DataFrames/districts.pkl', 'rb') as f:
        ad = pickle.load(f)

ad

FileNotFoundError: [Errno 2] No such file or directory: '~/Documents/COVIDW3/COVID19_Karnataka_Data/Data/DataFrames/districts.pkl'

In [22]:
data[0][1][9:9+33]

9      1
10     2
11     3
12     4
13     5
      ..
37    27
38    28
39    29
40    30
41    31
Name: 1, Length: 33, dtype: object

In [178]:
df = pd.DataFrame()
df['SrNo'] = SlNo
df['District'] = district
df['Daily Positive'] = dailyPositive
df['Total Positive'] = totalPositive
df['Daily Discharged'] = dailyDischarge
df['Total Discharged'] = totalDischarge
df['Active'] = totalActive
df['Daily Deaths'] = dailyDeaths
df['Total Deaths'] = totalDeaths
df

,SrNo,District,Daily Positive,Total Positive,Daily Discharged,Total Discharged,Active,Daily Deaths,Total Deaths
0,1,Bagalakote,0,35180,2,34844,3,0,333
1,2,Ballari,1,97785,0,95981,118,0,1686
2,3,Belagavi,3,79946,5,78946,58,1,942
3,4,Bengaluru Rural,1,62063,2,61118,55,0,890
4,5,Bengaluru Urban,163,1254256,574,1231780,6161,2,16314
5,6,Bidar,0,24342,0,23937,0,0,401
6,7,Chamarajanagara,1,33024,3,32489,22,0,502
7,8,Chikkaballapura,3,43968,5,43527,9,0,431
8,9,Chikkamagaluru,3,51170,2,50726,48,0,396
9,10,Chitradurga,1,36693,3,36455,31,1,207
10,11,Dakshina Kannada,13,115691,8,113873,127,1,1684
11,12,Davanagere,1,50996,0,50375,13,0,608
12,13,Dharwada,1,61014,6,59669,25,1,1318
13,14,Gadag,0,26066,0,25747,0,0,319
14,15,Hassana,3,111946,4,110556,132,0,1256
15,16,Haveri,0,21947,0,21304,0,0,643
16,17,Kalaburagi,3,61947,2,61109,18,0,820
17,18,Kodagu,6,37172,4,36776,65,0,330
18,19,Kolara,6,46983,5,46290,58,0,635
19,20,Koppala,0,35198,0,34661,13,0,524
20,21,Mandya,0,73821,6,73130,37,0,654
21,22,Mysuru,19,179422,19,176879,123,0,2420
22,23,Raichuru,0,39979,0,39643,4,0,332
23,24,Ramanagara,0,24211,1,23878,12,0,321
24,25,Shivamogga,9,69497,0,68309,98,0,1090
25,26,Tumakuru,2,120946,7,119696,116,1,1134
26,27,Udupi,8,76811,4,76271,52,0,488
27,28,Uttara Kannada,8,56346,5,55487,88,0,771
28,29,Vijayapura,0,36274,0,35774,5,0,495
29,30,Yadagiri,0,27546,0,27338,2,0,206
30,31,Others*,0,36,0,33,0,0,3

In [177]:
totalDeaths

[333,
 1686,
 942,
 890,
 16314,
 401,
 502,
 431,
 396,
 207,
 1684,
 608,
 1318,
 319,
 1256,
 643,
 820,
 330,
 635,
 524,
 654,
 2420,
 332,
 321,
 1090,
 1134,
 488,
 771,
 495,
 206,
 3]

In [130]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []